[submodule "home/.antigen"]
    path = home/.antigen
    url = https://github.com/zsh-users/antigen.git
    ignore = dirty
[submodule "home/.vim/bundle/vundle"]
    path = home/.vim/bundle/vundle
    url = https://github.com/gmarik/Vundle.vim.git
    ignore = dirty
[submodule "home/.dynamic-colors"]
    path = home/.dynamic-colors
    url = https://github.com/sos4nt/dynamic-colors
    ignore = dirty
[submodule "scripts/atch"]
	path = scripts/atch
    url = https://github.com/atcheson/atch
    ignore = dirty
